.App {
  text-align: center;
  min-height: 100vh;
}

#FormConnexion{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 300px;
}
#FormConnexion div{
  margin-right: 1%;
  margin-bottom: 0.5%;
}
#FormConnexion label{
  display: inline-block;
  width: 80px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
